In [1]:
#importing data

In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
cast_data = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
cast_data.keys()

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [6]:
joined_data = raw_data.merge(cast_data,left_on='id', right_on='movie_id', how='inner')

In [7]:
joined_data.keys()

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [8]:
joined_data.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [9]:
joined_data.tail(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [10]:
raw_data.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [11]:
raw_data.tail(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [12]:
joined_data.keys()

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [13]:
data=joined_data[['title_x','budget','revenue','vote_average','vote_count','runtime','genres','spoken_languages','production_countries','release_date','cast']].copy()

In [14]:
data.keys()

Index(['title_x', 'budget', 'revenue', 'vote_average', 'vote_count', 'runtime',
       'genres', 'spoken_languages', 'production_countries', 'release_date',
       'cast'],
      dtype='object')

In [15]:
data.head(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
0,Avatar,237000000,2787965087,7.2,11800,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."

In [16]:
data.tail(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
4802,My Date with Drew,0,0,6.3,16,90.0,"[{""id"": 99, ""name"": ""Documentary""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi..."

In [17]:
data.isnull().sum()

title_x                 0
budget                  0
revenue                 0
vote_average            0
vote_count              0
runtime                 2
genres                  0
spoken_languages        0
production_countries    0
release_date            1
cast                    0
dtype: int64

In [18]:
data.dropna(inplace=True)

In [61]:
data.head(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
0,Avatar,237000000,2787965087,7.2,11800,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."

In [19]:
data.keys()

Index(['title_x', 'budget', 'revenue', 'vote_average', 'vote_count', 'runtime',
       'genres', 'spoken_languages', 'production_countries', 'release_date',
       'cast'],
      dtype='object')

In [20]:
data = data[data['revenue']>=100000]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3311 entries, 0 to 4798
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_x               3311 non-null   object
 1   budget                3311 non-null   int64
 2   revenue               3311 non-null   int64
 3   vote_average          3311 non-null   float64
 4   vote_count            3311 non-null   int64
 5   runtime               3311 non-null   float64
 6   genres                3311 non-null   object
 7   spoken_languages      3311 non-null   object
 8   production_countries  3311 non-null   object
 9   release_date          3311 non-null   object
 10  cast                  3311 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 310.4+ KB

In [22]:
data.tail(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
4798,El Mariachi,220000,2040920,6.6,238,81.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c..."

In [36]:
data['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4766    [{"id": 99, "name": "Documentary"}, {"id": 104...
4773                       [{"id": 35, "name": "Comedy"}]
4788    [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4796    [{"id": 878, "name": "Science Fiction"}, {"id"...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
Name: genres, Length: 3311, dtype: object

In [37]:
data['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4766    [{"id": 99, "name": "Documentary"}, {"id": 104...
4773                       [{"id": 35, "name": "Comedy"}]
4788    [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4796    [{"id": 878, "name": "Science Fiction"}, {"id"...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
Name: genres, Length: 3311, dtype: object

In [40]:
import ast

In [38]:
df = pd.DataFrame(data)

In [41]:
def extract_genre_names(genres_str):
    genres_list = ast.literal_eval(genres_str)
    return [genre['name'] for genre in genres_list]

In [43]:
df['genres'] = df['genres'].apply(extract_genre_names)

In [46]:
df_exploded = df.explode('genres')

In [48]:
df_one_hot = pd.get_dummies(df_exploded, columns=['genres'], prefix='', prefix_sep='')

In [50]:
df_one_hot = df_one_hot.groupby('title_x').max().reset_index()

In [52]:
df_one_hot.set_index('title_x', inplace=True)

In [53]:
df_transposed = df_one_hot.T

In [75]:
df = pd.DataFrame(data)

In [76]:
def extract_names(json_str):
    items_list = ast.literal_eval(json_str)
    return [item['name'] for item in items_list]

In [77]:
df['spoken_languages'] = df['spoken_languages'].apply(extract_names)

In [78]:
df_exploded_languages = df.explode('spoken_languages')

In [79]:
df_one_hot_languages = pd.get_dummies(df_exploded_languages, columns=['spoken_languages'], prefix='', prefix_sep='')

In [81]:
df_one_hot_languages = df_one_hot_languages.groupby('title_x').max().reset_index()

In [82]:
df_one_hot_languages.set_index('title_x',inplace=True)

In [86]:
df_one_hot_languages.head(1)

,budget,revenue,vote_average,vote_count,runtime,genres,production_countries,release_date,cast,,...,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,తెలుగు,ภาษาไทย,广州话 / 廣州話,日本語,普通话,한국어/조선말
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,...,False,False,False,False,False,False,False,False,False,False

In [88]:
df_combined = pd.merge(df_one_hot, df_one_hot_languages, on='title_x', how='outer')

In [91]:
df_combined.head(1)

,budget_x,revenue_x,vote_average_x,vote_count_x,runtime_x,production_countries_x,release_date_x,cast_x,Action,Adventure,...,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,తెలుగు,ภาษาไทย,广州话 / 廣州話,日本語,普通话,한국어/조선말
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,False,...,False,False,False,False,False,False,False,False,False,False

In [90]:
df_combined.drop('spoken_languages', axis=1, inplace=True)

In [92]:
df = pd.DataFrame(data)

In [93]:
def extract_country_names(country_str):
    country_list = ast.literal_eval(country_str)
    return [country['name'] for country in country_list]

In [95]:
df['production_countries'] = df['production_countries'].apply(extract_country_names)
df_exploded = df.explode('production_countries')
df_one_hot = pd.get_dummies(df_exploded, columns=['production_countries'], prefix='', prefix_sep='')
df_one_hot = df_one_hot.groupby('title_x').max().reset_index()
df_one_hot.set_index('title_x', inplace=True)

In [96]:
df_one_hot.shape

(3310, 71)

In [97]:
df_combined = pd.merge(df_combined, df_one_hot, on='title_x', how='outer')

In [98]:
df_combined.shape

(3310, 165)

In [101]:
df_combined.keys()

Index(['budget_x', 'revenue_x', 'vote_average_x', 'vote_count_x', 'runtime_x',
       'release_date_x', 'cast_x', 'Action', 'Adventure', 'Animation',
       ...
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Tunisia', 'United Arab Emirates', 'United Kingdom',
       'United States of America'],
      dtype='object', length=164)

In [100]:
df_combined.drop('production_countries_x', axis=1, inplace=True)

In [104]:
df_combined.shape

(3310, 164)

In [102]:
df_combined['cast']

title_x
(500) Days of Summer          [{"cast_id": 4, "character": "Tom Hansen", "cr...
10 Cloverfield Lane           [{"cast_id": 2, "character": "Michelle", "cred...
10 Things I Hate About You    [{"cast_id": 2, "character": "Patrick Verona",...
102 Dalmatians                [{"cast_id": 1, "character": "Cruella de Vil",...
10th & Wolf                   [{"cast_id": 1, "character": "Tommy", "credit_...
                                                    ...
[REC]²                        [{"cast_id": 3, "character": "\u00c1ngela Vida...
eXistenZ                      [{"cast_id": 3, "character": "Allegra Geller",...
xXx                           [{"cast_id": 8, "character": "Xander Cage", "c...
xXx: State of the Union       [{"cast_id": 13, "character": "Darius Stone / ...
Æon Flux                      [{"cast_id": 1, "character": "Aeon Flux", "cre...
Name: cast, Length: 3310, dtype: object

In [105]:
df = pd.DataFrame(df_combined)

In [106]:
def count_actor_occurrences(data):
    actor_counts = {}
    for row in data:
        cast_list = ast.literal_eval(row)
        for actor in cast_list:
            actor_name = actor['name']
            actor_counts[actor_name] = actor_counts.get(actor_name, 0) + 1
    return actor_counts

In [107]:
actor_counts = count_actor_occurrences(df['cast'])

In [108]:
def calculate_star_power(row):
    cast_list = ast.literal_eval(row)
    leading_cast = cast_list[:2]  # Consider only the first two cast members
    star_power = sum(actor_counts.get(actor['name'], 0) for actor in leading_cast)
    return star_power

In [109]:
df['star_power'] = df['cast'].apply(calculate_star_power)

In [110]:
df.drop(columns=['cast'], inplace=True)

In [111]:
df.head(1)

,budget_x,revenue_x,vote_average_x,vote_count_x,runtime_x,release_date_x,cast_x,Action,Adventure,Animation,...,Spain,Sweden,Switzerland,Taiwan,Thailand,Tunisia,United Arab Emirates,United Kingdom,United States of America,star_power
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,False,False,...,False,False,False,False,False,False,False,False,True,33

In [112]:
df.drop('cast_x', axis=1, inplace=True)

In [ ]:
data=df.copy()

In [128]:
df = pd.DataFrame(data)

In [130]:
df['release_date_x'] = pd.to_datetime(df['release_date_x'])
df['Day of Week'] = df['release_date_x'].dt.day_name()
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days_of_week:
    df[day] = (df['Day of Week'] == day).astype(int)
df.drop(columns=['release_date_x', 'Day of Week'], inplace=True)

In [146]:
pd.set_option('display.max_columns', None)

In [150]:
df.keys()

Index(['budget_x', 'revenue_x', 'vote_average_x', 'vote_count_x', 'runtime_x',
       'Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       ...
       'United Kingdom', 'United States of America', 'star_power', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      dtype='object', length=169)

In [151]:
for column in df.columns:
    non_numeric_values = df[column].apply(lambda x: isinstance(x, str) and not x.isdigit())
    if non_numeric_values.any():
        print(f"Column '{column}' contains non-numeric values:")
        print(df[column][non_numeric_values])

Column 'genres_x' contains non-numeric values:
title_x
(500) Days of Summer          [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
10 Cloverfield Lane           [{"id": 53, "name": "Thriller"}, {"id": 878, "...
10 Things I Hate About You    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
102 Dalmatians                [{"id": 35, "name": "Comedy"}, {"id": 10751, "...
10th & Wolf                   [{"id": 28, "name": "Action"}, {"id": 80, "nam...
                                                    ...
[REC]²                        [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
eXistenZ                      [{"id": 28, "name": "Action"}, {"id": 53, "nam...
xXx                           [{"id": 28, "name": "Action"}, {"id": 12, "nam...
xXx: State of the Union       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Æon Flux                      [{"id": 28, "name": "Action"}, {"id": 878, "na...
Name: genres_x, Length: 3310, dtype: object
Column 'production_countries_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"iso_3166_1": "US", "name": "United States o...
10 Cloverfield Lane           [{"iso_3166_1": "US", "name": "United States o...
10 Things I Hate About You    [{"iso_3166_1": "US", "name": "United States o...
102 Dalmatians                [{"iso_3166_1": "US", "name": "United States o...
10th & Wolf                   [{"iso_3166_1": "US", "name": "United States o...
                                                    ...
[REC]²                                  [{"iso_3166_1": "ES", "name": "Spain"}]
eXistenZ                      [{"iso_3166_1": "CA", "name": "Canada"}, {"iso...
xXx                           [{"iso_3166_1": "US", "name": "United States o...
xXx: State of the Union       [{"iso_3166_1": "US", "name": "United States o...
Æon Flux                      [{"iso_3166_1": "US", "name": "United States o...
Name: production_countries_y, Length: 3310, dtype: object
Column 'release_date_y' contains non-numeric values:
title_x
(500) Days of Summer          2009-07-17
10 Cloverfield Lane           2016-03-10
10 Things I Hate About You    1999-03-30
102 Dalmatians                2000-10-07
10th & Wolf                   2006-02-19
                                 ...
[REC]²                        2009-09-15
eXistenZ                      1999-04-14
xXx                           2002-08-09
xXx: State of the Union       2005-04-27
Æon Flux                      2005-11-30
Name: release_date_y, Length: 3310, dtype: object
Column 'cast_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"cast_id": 4, "character": "Tom Hansen", "cr...
10 Cloverfield Lane           [{"cast_id": 2, "character": "Michelle", "cred...
10 Things I Hate About You    [{"cast_id": 2, "character": "Patrick Verona",...
102 Dalmatians                [{"cast_id": 1, "character": "Cruella de Vil",...
10th & Wolf                   [{"cast_id": 1, "character": "Tommy", "credit_...
                                                    ...
[REC]²                        [{"cast_id": 3, "character": "\u00c1ngela Vida...
eXistenZ                      [{"cast_id": 3, "character": "Allegra Geller",...
xXx                           [{"cast_id": 8, "character": "Xander Cage", "c...
xXx: State of the Union       [{"cast_id": 13, "character": "Darius Stone / ...
Æon Flux                      [{"cast_id": 1, "character": "Aeon Flux", "cre...
Name: cast_y, Length: 3310, dtype: object
Column 'genres_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
10 Cloverfield Lane           [{"id": 53, "name": "Thriller"}, {"id": 878, "...
10 Things I Hate About You    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
102 Dalmatians                [{"id": 35, "name": "Comedy"}, {"id": 10751, "...
10th & Wolf                   [{"id": 28, "name": "Action"}, {"id": 80, "nam...
                                                    ...
[REC]²                        [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
eXistenZ                      [{"id": 28, "name": "Action"}, {"id": 53, "nam...
xXx                           [{"id": 28, "name": "Action"}, {"id": 12, "nam...
xXx: State of the Union       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Æon Flux                      [{"id": 28, "name": "Action"}, {"id": 878, "na...
Name: genres_y, Length: 3310, dtype: object
Column 'spoken_languages' contains non-numeric values:
title_x
(500) Days of Summer          [{"iso_639_1": "en", "name": "English"}, {"iso...
10 Cloverfield Lane                    [{"iso_639_1": "en", "name": "English"}]
10 Things I Hate About You    [{"iso_639_1": "en", "name": "English"}, {"iso...
102 Dalmatians                         [{"iso_639_1": "en", "name": "English"}]
10th & Wolf                            [{"iso_639_1": "en", "name": "English"}]
                                                    ...
[REC]²                            [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
eXistenZ                               [{"iso_639_1": "en", "name": "English"}]
xXx                           [{"iso_639_1": "cs", "name": "\u010cesk\u00fd"...
xXx: State of the Union                [{"iso_639_1": "en", "name": "English"}]
Æon Flux                               [{"iso_639_1": "en", "name": "English"}]
Name: spoken_languages, Length: 3310, dtype: object
Column 'release_date' contains non-numeric values:
title_x
(500) Days of Summer          2009-07-17
10 Cloverfield Lane           2016-03-10
10 Things I Hate About You    1999-03-30
102 Dalmatians                2000-10-07
10th & Wolf                   2006-02-19
                                 ...
[REC]²                        2009-09-15
eXistenZ                      1999-04-14
xXx                           2002-08-09
xXx: State of the Union       2005-04-27
Æon Flux                      2005-11-30
Name: release_date, Length: 3310, dtype: object

In [152]:
df.drop('genres_x',axis=1,inplace=True)

In [167]:
df.drop('production_countries_y',axis=1,inplace=True)

In [182]:
df.drop('release_date',axis=1,inplace=True)

In [200]:
df.keys()

Index(['budget_x', 'revenue_x', 'vote_average_x', 'vote_count_x', 'runtime_x',
       'Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       ...
       'United Kingdom', 'United States of America', 'star_power', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      dtype='object', length=166)

In [201]:
for column in df.columns:
    non_numeric_values = df[column].apply(lambda x: isinstance(x, str) and not x.isdigit())
    if non_numeric_values.any():
        print(f"Column '{column}' contains non-numeric values:")
        print(df[column][non_numeric_values])

Column 'release_date_y' contains non-numeric values:
title_x
(500) Days of Summer          2009-07-17
10 Cloverfield Lane           2016-03-10
10 Things I Hate About You    1999-03-30
102 Dalmatians                2000-10-07
10th & Wolf                   2006-02-19
                                 ...
[REC]²                        2009-09-15
eXistenZ                      1999-04-14
xXx                           2002-08-09
xXx: State of the Union       2005-04-27
Æon Flux                      2005-11-30
Name: release_date_y, Length: 3310, dtype: object
Column 'cast_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"cast_id": 4, "character": "Tom Hansen", "cr...
10 Cloverfield Lane           [{"cast_id": 2, "character": "Michelle", "cred...
10 Things I Hate About You    [{"cast_id": 2, "character": "Patrick Verona",...
102 Dalmatians                [{"cast_id": 1, "character": "Cruella de Vil",...
10th & Wolf                   [{"cast_id": 1, "character": "Tommy", "credit_...
                                                    ...
[REC]²                        [{"cast_id": 3, "character": "\u00c1ngela Vida...
eXistenZ                      [{"cast_id": 3, "character": "Allegra Geller",...
xXx                           [{"cast_id": 8, "character": "Xander Cage", "c...
xXx: State of the Union       [{"cast_id": 13, "character": "Darius Stone / ...
Æon Flux                      [{"cast_id": 1, "character": "Aeon Flux", "cre...
Name: cast_y, Length: 3310, dtype: object
Column 'genres_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
10 Cloverfield Lane           [{"id": 53, "name": "Thriller"}, {"id": 878, "...
10 Things I Hate About You    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
102 Dalmatians                [{"id": 35, "name": "Comedy"}, {"id": 10751, "...
10th & Wolf                   [{"id": 28, "name": "Action"}, {"id": 80, "nam...
                                                    ...
[REC]²                        [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
eXistenZ                      [{"id": 28, "name": "Action"}, {"id": 53, "nam...
xXx                           [{"id": 28, "name": "Action"}, {"id": 12, "nam...
xXx: State of the Union       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Æon Flux                      [{"id": 28, "name": "Action"}, {"id": 878, "na...
Name: genres_y, Length: 3310, dtype: object
Column 'spoken_languages' contains non-numeric values:
title_x
(500) Days of Summer          [{"iso_639_1": "en", "name": "English"}, {"iso...
10 Cloverfield Lane                    [{"iso_639_1": "en", "name": "English"}]
10 Things I Hate About You    [{"iso_639_1": "en", "name": "English"}, {"iso...
102 Dalmatians                         [{"iso_639_1": "en", "name": "English"}]
10th & Wolf                            [{"iso_639_1": "en", "name": "English"}]
                                                    ...
[REC]²                            [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
eXistenZ                               [{"iso_639_1": "en", "name": "English"}]
xXx                           [{"iso_639_1": "cs", "name": "\u010cesk\u00fd"...
xXx: State of the Union                [{"iso_639_1": "en", "name": "English"}]
Æon Flux                               [{"iso_639_1": "en", "name": "English"}]
Name: spoken_languages, Length: 3310, dtype: object

In [202]:
df.drop('release_date_y',axis=1,inplace=True)
df.drop('cast_y',axis=1,inplace=True)

In [204]:
for column in df.columns:
    non_numeric_values = df[column].apply(lambda x: isinstance(x, str) and not x.isdigit())
    if non_numeric_values.any():
        print(f"Column '{column}' contains non-numeric values:")
        print(df[column][non_numeric_values])

Column 'genres_y' contains non-numeric values:
title_x
(500) Days of Summer          [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
10 Cloverfield Lane           [{"id": 53, "name": "Thriller"}, {"id": 878, "...
10 Things I Hate About You    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
102 Dalmatians                [{"id": 35, "name": "Comedy"}, {"id": 10751, "...
10th & Wolf                   [{"id": 28, "name": "Action"}, {"id": 80, "nam...
                                                    ...
[REC]²                        [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
eXistenZ                      [{"id": 28, "name": "Action"}, {"id": 53, "nam...
xXx                           [{"id": 28, "name": "Action"}, {"id": 12, "nam...
xXx: State of the Union       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Æon Flux                      [{"id": 28, "name": "Action"}, {"id": 878, "na...
Name: genres_y, Length: 3310, dtype: object

In [205]:
df.drop('genres_y',axis=1,inplace=True)

In [203]:
df.drop('spoken_languages',axis=1,inplace=True)

In [207]:
df.shape

(3310, 162)

In [208]:
final_data=df.copy()

In [209]:
from sklearn.linear_model import LinearRegression

In [210]:
y=final_data['revenue_x'].values

In [211]:
final_data_x=final_data.drop('revenue_x',axis=1)

In [212]:
final_data_x.head(1)

,budget_x,vote_average_x,vote_count_x,runtime_x,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western,budget_y,revenue_y,vote_average_y,vote_count_y,runtime_y,,Afrikaans,Bahasa indonesia,Bosanski,Català,Cymraeg,Dansk,Deutsch,Eesti,English,Español,Esperanto,Français,Gaeilge,Galego,Hrvatski,Italiano,Kiswahili,Latin,Magyar,Nederlands,No Language,Norsk,Polski,Português,Pусский,Română,Slovenčina,Somali,Srpski,Tiếng Việt,Türkçe,Wolof,isiZulu,shqip,suomi,svenska,Íslenska,Český,ελληνικά,Український,български език,қазақ,עִבְרִית,اردو,العربية,فارسی,پښتو,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,తెలుగు,ภาษาไทย,广州话 / 廣州話,日本語,普通话,한국어/조선말,budget,revenue,vote_average,vote_count,runtime,Argentina,Australia,Austria,Bahamas,Belgium,Bolivia,Brazil,Bulgaria,Canada,Chile,China,Czech Republic,Denmark,Dominica,Fiji,Finland,France,Germany,Greece,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Ireland,Israel,Italy,Jamaica,Japan,Kazakhstan,Lithuania,Luxembourg,Malta,Mexico,Monaco,Morocco,Netherlands,New Zealand,Norway,Pakistan,Peru,Philippines,Poland,Portugal,Romania,Russia,Serbia,Serbia and Montenegro,Singapore,Slovenia,South Africa,South Korea,Spain,Sweden,Switzerland,Taiwan,Thailand,Tunisia,United Arab Emirates,United Kingdom,United States of America,star_power,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
title_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,7.2,2904,95.0,False,False,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,7500000,60722734,7.2,2904,95.0,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,7500000,60722734,7.2,2904,95.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,33,0,0,0,0,1,0,0

In [213]:
x=final_data_x.values

In [214]:
x

array([[7500000, 7.2, 2904, ..., 1, 0, 0],
       [15000000, 6.8, 2468, ..., 0, 0, 0],
       [16000000, 7.3, 1701, ..., 0, 0, 0],
       ...,
       [70000000, 5.8, 1424, ..., 1, 0, 0],
       [60000000, 4.7, 549, ..., 0, 0, 0],
       [62000000, 5.4, 703, ..., 0, 0, 0]], dtype=object)

In [215]:
y

array([ 60722734, 108286421,  53478166, ..., 277448382,  71073932,
        52304001], dtype=int64)

In [216]:
from sklearn.model_selection import train_test_split

In [217]:
X_train , X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [218]:
X_train.shape

(2648, 161)

In [219]:
linear_model = LinearRegression()
linear_model.fit(X_train,y_train)

LinearRegression()

In [220]:
y_pred = linear_model.predict(X_test)
y_pred

array([2.73600000e+06, 5.98273280e+07, 2.45527149e+08, 2.12404396e+08,
       5.72821300e+06, 8.71368364e+08, 3.34901337e+08, 2.70928800e+07,
       2.09666440e+07, 3.35268350e+07, 2.40159255e+08, 6.73592200e+06,
       6.50000000e+06, 1.98685114e+08, 1.97687603e+08, 2.94560000e+06,
       8.67589120e+07, 2.50000000e+06, 1.76711010e+07, 4.29632142e+08,
       1.23146510e+07, 2.13783610e+07, 4.29310410e+07, 2.34801895e+08,
       3.87932830e+07, 5.62551420e+07, 9.38207580e+07, 1.09502303e+08,
       2.72061200e+07, 1.72180800e+07, 3.94386740e+07, 2.21683590e+07,
       1.13374103e+08, 6.50422000e+05, 3.34639690e+07, 7.80005860e+07,
       1.57387195e+08, 4.15223000e+06, 3.47420660e+07, 1.69852759e+08,
       8.00000000e+06, 1.15267375e+08, 1.14156230e+08, 2.00000000e+07,
       9.33751510e+07, 3.42272980e+07, 1.83474602e+08, 5.42307423e+08,
       3.70569774e+08, 1.73567581e+08, 3.20052480e+07, 1.44600000e+07,
       2.59287210e+07, 1.60583018e+08, 2.04552760e+07, 3.09931400e+06,
       1.81000000e+08, 2.61317921e+08, 5.68478900e+06, 1.58468292e+08,
       6.09123048e+08, 7.46085700e+07, 2.56271286e+08, 5.85178928e+08,
       2.74703340e+08, 1.87000000e+08, 6.82336290e+07, 1.52427960e+08,
       8.76302000e+05, 3.07166834e+08, 5.29700140e+07, 9.40730280e+07,
       1.59616327e+08, 4.82860185e+08, 9.40000000e+07, 1.25586134e+08,
       4.73226958e+08, 5.00000000e+06, 4.00112100e+06, 2.15887717e+08,
       2.93310680e+07, 7.40000000e+06, 7.53950480e+07, 1.84696800e+07,
       5.20348890e+07, 3.15560610e+07, 1.71269535e+08, 2.90000000e+07,
       1.06565981e+09, 7.16251950e+07, 4.73836890e+07, 2.22114260e+07,
       2.85671200e+06, 5.62816256e+08, 6.83498840e+07, 8.61752910e+07,
       3.00854823e+08, 9.25000000e+06, 6.56647210e+07, 2.20442770e+07,
       4.23655810e+07, 2.03742010e+07, 3.01144870e+07, 1.50962475e+08,
       1.11258490e+07, 2.76572938e+08, 5.39772500e+07, 9.00000980e+07,
       3.16729070e+07, 1.71120329e+08, 1.98449790e+07, 1.77371441e+08,
       8.63623720e+07, 2.57000000e+06, 5.79586960e+07, 9.30460900e+06,
       7.51887600e+06, 6.64683320e+07, 1.63183900e+06, 3.16787780e+07,
       6.41391500e+06, 2.50000000e+07, 8.15950800e+06, 2.35800000e+07,
       8.78431800e+06, 6.10872000e+06, 3.05070000e+05, 5.62984740e+07,
       4.57640427e+08, 1.48412065e+08, 1.67000000e+07, 1.87479518e+08,
       1.35560026e+08, 3.94624380e+07, 1.03891409e+08, 1.39804348e+08,
       2.16972543e+08, 7.74770080e+07, 1.72972440e+07, 9.62698120e+07,
       1.07458785e+08, 3.19285000e+05, 7.41221600e+06, 2.11780824e+08,
       2.50520000e+07, 3.61330140e+07, 3.20000000e+07, 1.89198313e+08,
       1.19754278e+08, 2.01585328e+08, 5.63599800e+07, 3.61366633e+08,
       8.29000000e+08, 1.93000000e+07, 1.05019380e+07, 1.64910800e+07,
       9.93571380e+07, 2.74378810e+07, 2.87506194e+08, 7.65140500e+07,
       1.77687570e+07, 2.70071430e+07, 2.24920315e+08, 3.73116720e+07,
       3.66067430e+07, 2.33093859e+08, 7.52600867e+08, 3.02469017e+08,
       3.14432665e+08, 2.70538150e+07, 1.80901810e+07, 1.22060280e+07,
       7.09827462e+08, 3.63513500e+07, 3.57433080e+07, 1.05197635e+08,
       2.39378700e+07, 1.35969110e+07, 1.69837010e+08, 4.95540020e+07,
       1.01702060e+08, 7.54249000e+05, 6.13995520e+07, 2.01388360e+07,
       2.37681299e+08, 1.83611771e+08, 1.81466833e+08, 9.02476240e+07,
       7.75398007e+08, 2.28890180e+07, 9.61889030e+07, 2.02113940e+07,
       4.91172500e+06, 1.49800050e+07, 1.72989651e+08, 3.10835990e+07,
       1.07879496e+08, 1.55200230e+07, 8.41468320e+07, 2.11817906e+08,
       7.22581260e+07, 8.57611174e+08, 4.41809770e+08, 9.22193100e+07,
       3.30003370e+07, 9.05741880e+07, 1.19723856e+08, 2.80000000e+08,
       2.43843127e+08, 2.82159180e+07, 1.28499205e+08, 1.26713000e+07,
       2.95362990e+07, 3.71353001e+08, 8.21023790e+07, 9.62284600e+06,
       7.31001720e+07, 9.83372950e+07, 8.58637600e+06, 1.17000000e+08,
       8.20871550e+07, 1.78127760e+08, 6.89200000e+06, 5.89390539e+08,
       6.43215010e+07, 1.16422540e+07, 1.91185897e+08, 8.70000000e+07,
       3.10940086e+08, 1.18880016e+08, 3.66099950e+07, 8.50000000e+06,
       1.50166126e+08, 1.72803260e+07, 3.82754830e+07, 3.54704000e+05,
       1.00230832e+08, 6.40885520e+07, 5.01591440e+07, 5.50031350e+07,
       2.24413230e+07, 6.34648610e+07, 5.45865840e+07, 2.89847354e+08,
       1.70000000e+07, 2.85444603e+08, 1.00000000e+08, 7.92910554e+08,
       2.45066411e+08, 4.14822070e+07, 1.64475500e+06, 4.97409852e+08,
       1.16019547e+08, 1.77243185e+08, 6.23027600e+06, 6.43526070e+07,
       7.73328629e+08, 2.07666160e+07, 4.15908860e+07, 2.15529201e+08,
       1.30293714e+08, 1.45000000e+07, 1.24596398e+08, 1.07559000e+05,
       2.11705630e+07, 2.60968520e+07, 4.92216600e+06, 8.88070500e+06,
       1.80000000e+07, 6.87661210e+07, 1.01665020e+07, 2.80739000e+06,
       3.06776732e+08, 1.17831631e+08, 5.55838040e+07, 7.23000000e+06,
       4.15967800e+06, 2.10655700e+06, 5.49368315e+08, 9.66550600e+08,
       2.75650703e+08, 9.08155580e+07, 1.01371017e+08, 2.95064640e+07,
       1.85991646e+08, 1.76000000e+07, 3.19310200e+06, 1.36817650e+07,
       1.06520350e+07, 2.33555708e+08, 2.09696000e+05, 4.04239450e+07,
       8.29661520e+07, 6.69276000e+05, 2.29445020e+07, 4.56758981e+08,
       1.51119219e+08, 1.75021100e+06, 1.43451000e+05, 8.93286270e+07,
       3.73967000e+05, 4.24297800e+06, 1.57951890e+07, 2.47694660e+07,
       1.00110500e+07, 1.59926150e+07, 4.24587000e+06, 9.28235460e+07,
       4.42824138e+08, 7.80000000e+06, 3.43471816e+08, 1.00476740e+07,
       5.54202500e+06, 1.26041322e+08, 1.11308890e+07, 3.22309070e+07,
       1.32699630e+07, 1.47962360e+07, 1.81242620e+07, 8.33200000e+07,
       2.75157860e+07, 3.66900670e+07, 4.00021120e+07, 1.46292009e+08,
       9.76074530e+07, 4.30000000e+07, 1.24914842e+08, 4.19549970e+07,
       1.41591324e+08, 3.33000000e+08, 1.40795793e+08, 1.69000000e+07,
       6.36476560e+07, 3.72234864e+08, 1.45640270e+07, 6.32158720e+07,
       3.54235300e+06, 6.57057720e+07, 1.23922370e+08, 1.69301850e+07,
       2.96339527e+08, 1.53962963e+08, 6.49124000e+06, 2.97620110e+07,
       5.38400000e+08, 4.24760000e+05, 2.05703818e+08, 3.58372926e+08,
       4.94699040e+07, 2.31444990e+07, 3.71876278e+08, 2.34307660e+07,
       3.89756900e+06, 5.21098800e+06, 2.50234340e+07, 2.04233890e+07,
       1.06678930e+07, 1.68000000e+07, 7.00162200e+07, 1.40000000e+07,
       4.61983149e+08, 4.26224000e+05, 4.44575000e+05, 1.09594750e+07,
       5.36532240e+07, 6.11129160e+07, 4.90000000e+07, 7.01818900e+06,
       1.83953723e+08, 1.40622400e+06, 1.23794020e+07, 5.88531060e+07,
       5.19311965e+08, 1.41702264e+08, 1.31962450e+07, 1.27421901e+09,
       5.23040010e+07, 2.15000000e+08, 2.61930431e+08, 5.36485800e+06,
       9.92062150e+07, 1.69517980e+07, 5.65592000e+05, 2.41889220e+07,
       4.21711500e+06, 2.30068490e+07, 4.31655710e+07, 1.49281606e+08,
       1.63403799e+08, 1.54311770e+07, 2.91746480e+07, 2.18003020e+07,
       5.53540500e+06, 2.30571150e+07, 1.70877916e+08, 7.52256930e+07,
       1.10000000e+06, 7.24364390e+07, 8.64659000e+05, 6.00000000e+06,
       2.14034224e+08, 6.94863300e+06, 2.26830568e+08, 6.85461100e+06,
       3.61603750e+07, 2.89997500e+06, 2.69994119e+08, 5.20000000e+08,
       1.43580330e+07, 8.09164920e+07, 2.43323240e+07, 1.67221571e+08,
       9.88378720e+07, 5.98645000e+05, 1.40073390e+08, 4.08460820e+07,
       7.83061100e+06, 4.48852900e+06, 1.34402450e+08, 3.57636050e+07,
       3.33932083e+08, 5.00000000e+06, 7.11545920e+07, 4.60760800e+06,
       3.77996430e+07, 4.81263840e+07, 2.77448382e+08, 8.70553490e+07,
       1.65662400e+07, 1.99780700e+06, 1.47767600e+06, 2.37202299e+08,
       6.03280000e+07, 8.52802500e+07, 1.67887400e+06, 7.37625160e+07,
       1.51161491e+08, 4.65461970e+07, 4.81691560e+07, 1.52036382e+08,
       1.30358911e+08, 2.84914200e+06, 5.71038950e+07, 1.60602194e+08,
       4.71750380e+07, 5.71006128e+08, 1.44312530e+07, 9.13833800e+06,
       5.69323050e+07, 1.98394920e+07, 1.85640880e+07, 4.33183490e+07,
       2.03427584e+08, 4.68363940e+07, 3.44418730e+07, 2.94804195e+08,
       1.51493655e+08, 7.52215857e+08, 6.83344500e+06, 2.09196298e+08,
       1.18338361e+08, 1.59375308e+08, 9.40335536e+08, 1.10000000e+08,
       2.12000000e+08, 3.73062864e+08, 4.47932220e+07, 4.16108840e+07,
       9.10932200e+06, 1.08782847e+08, 3.37580051e+08, 2.58384000e+05,
       1.33312400e+06, 4.30000000e+06, 5.86768600e+06, 1.62966177e+08,
       4.39842300e+07, 1.72009250e+07, 6.94113700e+07, 1.10000000e+07,
       9.01200000e+06, 2.44082376e+08, 2.19851172e+08, 1.76549120e+07,
       3.35062621e+08, 2.86168572e+08, 4.04927590e+07, 1.82300000e+08,
       4.39289320e+07, 4.00000000e+07, 1.59773545e+08, 1.29266061e+08,
       1.43344010e+07, 1.00893730e+07, 4.90026840e+07, 1.83987723e+08,
       7.10698840e+07, 1.86883563e+08, 1.24827750e+07, 3.49779543e+08,
       1.52930623e+08, 2.58022233e+08, 2.58199610e+07, 1.33503690e+07,
       6.57528200e+06, 3.44112400e+07, 5.72700000e+08, 8.84896430e+07,
       1.09578115e+08, 6.08961470e+07, 6.67071200e+06, 2.37382724e+08,
       6.57542280e+07, 6.07000000e+07, 1.14660784e+08, 7.43472600e+06,
       3.50071800e+07, 9.48257900e+06, 3.07682000e+06, 1.73398518e+08,
       9.60000000e+06, 1.52000000e+07, 1.93355800e+08, 3.19127930e+07,
       8.22021500e+06, 2.46984278e+08, 2.22223080e+07, 2.33617200e+06,
       1.73066000e+05, 1.67570600e+06, 2.95503900e+06, 1.83018522e+08,
       3.86294780e+07, 3.24138000e+05, 2.49116700e+07, 2.04092000e+06,
       1.92949010e+07, 5.94682750e+07, 1.33718711e+08, 1.15922175e+08,
       9.23746740e+07, 1.00860818e+08, 1.08758521e+08, 1.07670357e+08,
       4.40302460e+07, 7.04429400e+07, 3.19131050e+08, 1.56822020e+08,
       1.20455994e+08, 9.81855820e+07, 9.93189870e+07, 3.93636350e+07,
       2.03388341e+08, 1.03297470e+07, 7.75163040e+07, 2.72742922e+08,
       1.46402000e+05, 1.00525432e+08, 1.20175290e+08, 3.03788635e+08,
       2.50378970e+07, 6.80401600e+06, 3.32000000e+08, 2.17764291e+08,
       1.70432927e+08, 6.30132810e+07, 2.05291940e+07, 2.49288105e+08,
       9.48828890e+07, 1.54733330e+07, 6.22806000e+05, 7.27787120e+07,
       4.97366869e+08, 1.01595121e+08, 1.32675402e+08, 2.45385130e+07,
       2.49027230e+07, 1.31298460e+07, 1.14281051e+08, 1.43485290e+07,
       4.63406200e+06, 2.04000000e+07, 4.67706020e+07, 1.43695338e+08,
       6.71126640e+07, 4.85736700e+06, 6.89158880e+07, 4.80634350e+07,
       9.75429520e+07, 3.18502923e+08, 3.42695435e+08, 4.50592200e+06,
       2.76030690e+07, 1.08000000e+08, 1.22126687e+08, 4.02833210e+07,
       8.00354020e+07, 1.04155843e+08, 2.36350661e+08, 1.49673788e+08,
       5.31826000e+05, 7.70000000e+07, 9.00000000e+06, 2.28100000e+06,
       3.74218673e+08, 1.57000000e+07, 4.73014710e+07, 4.18637260e+07,
       2.81929795e+08, 3.16472000e+05, 3.49421880e+07, 1.36150434e+08,
       9.33959197e+08, 6.30161890e+08, 3.55688000e+05, 1.01300000e+07,
       1.19723358e+08, 8.54460750e+07, 6.31000000e+07, 6.20761410e+07,
       2.11262250e+07, 5.22874140e+07, 1.42940100e+08, 2.37509700e+06,
       1.20081841e+08, 1.00076342e+08, 3.84335608e+08, 1.96829240e+07,
       2.42295562e+08, 1.13020255e+08, 2.06206600e+06, 2.38207122e+08,
       2.18340595e+08, 4.22851690e+07, 1.48994170e+07, 2.39784020e+07,
       1.71600000e+08, 6.03399900e+06, 3.66506900e+06, 9.21809100e+07,
       1.00138851e+08, 4.70889900e+07, 1.85770160e+08, 7.39562410e+07,
       1.13016490e+07, 2.52888720e+07, 1.15882050e+07, 5.27166600e+06,
       2.35785200e+06, 2.43400000e+08, 7.00000000e+06, 6.72806292e+08,
       3.24389880e+07, 2.71841000e+05, 1.91919700e+06, 1.14663461e+08,
       1.58615660e+07, 1.63712074e+08, 1.91700010e+07, 1.45678830e+07,
       3.82174000e+05, 9.71386860e+07])

In [222]:
coef=linear_model.coef_

In [223]:
coef

array([-1.75445158e-05,  2.43878861e-04,  1.79814739e-05, -8.89586818e-06,
       -5.90417234e-08, -1.80403489e-08, -3.32631122e-07,  3.66492478e-08,
       -6.21388722e-08, -1.19311465e-07, -4.42266055e-09, -2.73570568e-08,
        4.56041490e-08,  1.36569794e-07, -9.84503825e-08,  6.91186352e-08,
        2.26349319e-08, -5.17786895e-08, -8.54305969e-09, -8.67646804e-09,
        5.57434445e-08,  5.89132649e-08,  9.36646321e-08, -5.27154177e-03,
        5.14357799e-01, -1.21900580e-04, -8.99275398e-06,  4.44705271e-06,
       -5.17847400e-08,  8.94181742e-08, -3.33531762e-07, -2.66408101e-07,
        2.08172061e-08, -5.02026242e-09, -1.21475303e-08,  1.96946882e-08,
       -3.28446011e-09,  4.19075411e-08,  6.14536075e-08, -2.74137609e-08,
        4.41826980e-08, -2.14071002e-09, -3.42784443e-07,  2.92695082e-08,
       -1.21563495e-08,  1.74481314e-08, -1.12421241e-08, -4.46072097e-08,
       -1.03721557e-10,  6.27052663e-08, -3.13060270e-08, -3.50450282e-08,
       -7.86596085e-10,  8.09248566e-08, -3.50016865e-08, -9.67114691e-15,
        5.97140863e-08,  2.85699508e-08,  1.07505343e-08,  3.75735052e-08,
       -4.06824889e-09, -4.97486599e-10,  1.52136865e-08, -1.97314501e-09,
       -9.05720087e-08,  3.47551203e-09,  6.70147415e-08, -1.93455067e-08,
        6.81622002e-08, -1.67126643e-08,  1.75193938e-08,  1.23853081e-07,
       -1.54317466e-07, -3.25666340e-08,  1.96421651e-07, -6.88359959e-08,
        1.02563448e-07, -6.85730769e-16,  7.87640267e-09,  3.84580740e-08,
        1.86157513e-16, -5.06670033e-08, -7.34726462e-08,  4.29421129e-08,
        5.34167220e-09, -1.27466257e-08,  5.28908629e-03,  4.85642201e-01,
       -1.21900595e-04, -8.98876276e-06,  4.44764913e-06, -8.44704171e-09,
       -4.89893777e-08,  3.32571990e-08,  4.50088067e-09,  1.93490570e-08,
        2.14949114e-08, -6.89572817e-09, -1.91296735e-08, -1.50281552e-08,
        2.71050543e-20,  1.61478059e-07, -7.52422803e-08,  2.24884832e-08,
       -6.77626358e-21,  7.60159787e-10,  8.58937597e-09, -7.10229782e-08,
       -1.99175187e-08,  9.80097377e-09, -5.81143753e-08,  1.18654683e-09,
       -7.07458028e-09,  4.81499778e-08, -3.33528659e-07,  5.59974713e-08,
       -1.23871880e-08, -3.22600439e-23,  4.43975767e-08, -1.61794212e-08,
       -5.65022840e-08, -7.57394001e-08, -3.50386456e-08,  2.88972591e-08,
        5.65135354e-09, -1.36326400e-08, -5.91014512e-08, -2.29150942e-08,
       -2.04220111e-08,  3.45143446e-07, -1.09759165e-08, -7.68049992e-07,
        1.69905809e-09,  3.78474897e-09,  6.58914796e-09,  1.70072752e-09,
       -6.98359832e-09, -5.66298844e-08, -3.56193959e-08,  6.96134167e-09,
       -3.24905890e-08, -5.45547165e-09, -2.09699411e-08,  8.29612405e-09,
        1.06920942e-07, -5.70527679e-09,  1.67217867e-09,  1.46363994e-08,
       -2.33645816e-08, -1.79911649e-09, -1.52604291e-07, -7.19242957e-08,
       -1.11235451e-07,  6.20919725e-10,  2.72474798e-08, -2.10054632e-08,
        1.75641981e-08, -1.53734244e-08,  1.99842348e-09, -1.30939835e-08,
        2.64278213e-09])

In [224]:
df = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})

In [227]:
df.head(10)

      Actual    Predicted
0    2736000    2736000.0
1   59827328   59827328.0
2  245527149  245527149.0
3  212404396  212404396.0
4    5728213    5728213.0
5  871368364  871368364.0
6  334901337  334901337.0
7   27092880   27092880.0
8   20966644   20966644.0
9   33526835   33526835.0

In [228]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 8.82483533445712e-08

In [229]:
print("MSE",mean_squared_error(y_test,y_pred))

MSE 1.443827864212619e-14

In [230]:
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 1.2015938848931525e-07

In [231]:
print("R2_Score",r2_score(y_test,y_pred))
r2 = r2_score(y_test,y_pred)

R2_Score 1.0