In [1]:
#importing data

In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
cast_data = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
cast_data.keys()

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [6]:
joined_data = raw_data.merge(cast_data,left_on='id', right_on='movie_id', how='inner')

In [7]:
joined_data.keys()

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [8]:
joined_data.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [9]:
joined_data.tail(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [10]:
raw_data.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [11]:
raw_data.tail(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [12]:
joined_data.keys()

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [13]:
data=joined_data[['title_x','budget','revenue','vote_average','vote_count','runtime','genres','spoken_languages','production_countries','release_date','cast']].copy()

In [14]:
data.keys()

Index(['title_x', 'budget', 'revenue', 'vote_average', 'vote_count', 'runtime',
       'genres', 'spoken_languages', 'production_countries', 'release_date',
       'cast'],
      dtype='object')

In [15]:
data.head(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
0,Avatar,237000000,2787965087,7.2,11800,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."

In [16]:
data.tail(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
4802,My Date with Drew,0,0,6.3,16,90.0,"[{""id"": 99, ""name"": ""Documentary""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi..."

In [17]:
data.isnull().sum()

title_x                 0
budget                  0
revenue                 0
vote_average            0
vote_count              0
runtime                 2
genres                  0
spoken_languages        0
production_countries    0
release_date            1
cast                    0
dtype: int64

In [18]:
data.dropna(inplace=True)

In [61]:
data.head(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
0,Avatar,237000000,2787965087,7.2,11800,162.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."

In [19]:
data.keys()

Index(['title_x', 'budget', 'revenue', 'vote_average', 'vote_count', 'runtime',
       'genres', 'spoken_languages', 'production_countries', 'release_date',
       'cast'],
      dtype='object')

In [20]:
data = data[data['revenue']>=100000]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3311 entries, 0 to 4798
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_x               3311 non-null   object
 1   budget                3311 non-null   int64
 2   revenue               3311 non-null   int64
 3   vote_average          3311 non-null   float64
 4   vote_count            3311 non-null   int64
 5   runtime               3311 non-null   float64
 6   genres                3311 non-null   object
 7   spoken_languages      3311 non-null   object
 8   production_countries  3311 non-null   object
 9   release_date          3311 non-null   object
 10  cast                  3311 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 310.4+ KB

In [22]:
data.tail(1)

,title_x,budget,revenue,vote_average,vote_count,runtime,genres,spoken_languages,production_countries,release_date,cast
4798,El Mariachi,220000,2040920,6.6,238,81.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c..."

In [36]:
data['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4766    [{"id": 99, "name": "Documentary"}, {"id": 104...
4773                       [{"id": 35, "name": "Comedy"}]
4788    [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4796    [{"id": 878, "name": "Science Fiction"}, {"id"...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
Name: genres, Length: 3311, dtype: object

In [37]:
data['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4766    [{"id": 99, "name": "Documentary"}, {"id": 104...
4773                       [{"id": 35, "name": "Comedy"}]
4788    [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4796    [{"id": 878, "name": "Science Fiction"}, {"id"...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
Name: genres, Length: 3311, dtype: object

In [40]:
import ast

In [38]:
df = pd.DataFrame(data)

In [41]:
def extract_genre_names(genres_str):
    genres_list = ast.literal_eval(genres_str)
    return [genre['name'] for genre in genres_list]

In [43]:
df['genres'] = df['genres'].apply(extract_genre_names)

In [46]:
df_exploded = df.explode('genres')

In [48]:
df_one_hot = pd.get_dummies(df_exploded, columns=['genres'], prefix='', prefix_sep='')

In [50]:
df_one_hot = df_one_hot.groupby('title_x').max().reset_index()

In [52]:
df_one_hot.set_index('title_x', inplace=True)

In [53]:
df_transposed = df_one_hot.T

In [75]:
df = pd.DataFrame(data)

In [76]:
def extract_names(json_str):
    items_list = ast.literal_eval(json_str)
    return [item['name'] for item in items_list]

In [77]:
df['spoken_languages'] = df['spoken_languages'].apply(extract_names)

In [78]:
df_exploded_languages = df.explode('spoken_languages')

In [79]:
df_one_hot_languages = pd.get_dummies(df_exploded_languages, columns=['spoken_languages'], prefix='', prefix_sep='')

In [81]:
df_one_hot_languages = df_one_hot_languages.groupby('title_x').max().reset_index()

In [82]:
df_one_hot_languages.set_index('title_x',inplace=True)

In [86]:
df_one_hot_languages.head(1)

,budget,revenue,vote_average,vote_count,runtime,genres,production_countries,release_date,cast,,...,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,తెలుగు,ภาษาไทย,广州话 / 廣州話,日本語,普通话,한국어/조선말
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,...,False,False,False,False,False,False,False,False,False,False

In [88]:
df_combined = pd.merge(df_one_hot, df_one_hot_languages, on='title_x', how='outer')

In [91]:
df_combined.head(1)

,budget_x,revenue_x,vote_average_x,vote_count_x,runtime_x,production_countries_x,release_date_x,cast_x,Action,Adventure,...,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,తెలుగు,ภาษาไทย,广州话 / 廣州話,日本語,普通话,한국어/조선말
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,False,...,False,False,False,False,False,False,False,False,False,False

In [90]:
df_combined.drop('spoken_languages', axis=1, inplace=True)

In [92]:
df = pd.DataFrame(data)

In [93]:
def extract_country_names(country_str):
    country_list = ast.literal_eval(country_str)
    return [country['name'] for country in country_list]

In [95]:
df['production_countries'] = df['production_countries'].apply(extract_country_names)
df_exploded = df.explode('production_countries')
df_one_hot = pd.get_dummies(df_exploded, columns=['production_countries'], prefix='', prefix_sep='')
df_one_hot = df_one_hot.groupby('title_x').max().reset_index()
df_one_hot.set_index('title_x', inplace=True)

In [96]:
df_one_hot.shape

(3310, 71)

In [97]:
df_combined = pd.merge(df_combined, df_one_hot, on='title_x', how='outer')

In [98]:
df_combined.shape

(3310, 165)

In [101]:
df_combined.keys()

Index(['budget_x', 'revenue_x', 'vote_average_x', 'vote_count_x', 'runtime_x',
       'release_date_x', 'cast_x', 'Action', 'Adventure', 'Animation',
       ...
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Tunisia', 'United Arab Emirates', 'United Kingdom',
       'United States of America'],
      dtype='object', length=164)

In [100]:
df_combined.drop('production_countries_x', axis=1, inplace=True)

In [104]:
df_combined.shape

(3310, 164)

In [102]:
df_combined['cast']

title_x
(500) Days of Summer          [{"cast_id": 4, "character": "Tom Hansen", "cr...
10 Cloverfield Lane           [{"cast_id": 2, "character": "Michelle", "cred...
10 Things I Hate About You    [{"cast_id": 2, "character": "Patrick Verona",...
102 Dalmatians                [{"cast_id": 1, "character": "Cruella de Vil",...
10th & Wolf                   [{"cast_id": 1, "character": "Tommy", "credit_...
                                                    ...
[REC]²                        [{"cast_id": 3, "character": "\u00c1ngela Vida...
eXistenZ                      [{"cast_id": 3, "character": "Allegra Geller",...
xXx                           [{"cast_id": 8, "character": "Xander Cage", "c...
xXx: State of the Union       [{"cast_id": 13, "character": "Darius Stone / ...
Æon Flux                      [{"cast_id": 1, "character": "Aeon Flux", "cre...
Name: cast, Length: 3310, dtype: object

In [105]:
df = pd.DataFrame(df_combined)

In [106]:
def count_actor_occurrences(data):
    actor_counts = {}
    for row in data:
        cast_list = ast.literal_eval(row)
        for actor in cast_list:
            actor_name = actor['name']
            actor_counts[actor_name] = actor_counts.get(actor_name, 0) + 1
    return actor_counts

In [107]:
actor_counts = count_actor_occurrences(df['cast'])

In [108]:
def calculate_star_power(row):
    cast_list = ast.literal_eval(row)
    leading_cast = cast_list[:2]  # Consider only the first two cast members
    star_power = sum(actor_counts.get(actor['name'], 0) for actor in leading_cast)
    return star_power

In [109]:
df['star_power'] = df['cast'].apply(calculate_star_power)

In [110]:
df.drop(columns=['cast'], inplace=True)

In [111]:
df.head(1)

,budget_x,revenue_x,vote_average_x,vote_count_x,runtime_x,release_date_x,cast_x,Action,Adventure,Animation,...,Spain,Sweden,Switzerland,Taiwan,Thailand,Tunisia,United Arab Emirates,United Kingdom,United States of America,star_power
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,60722734,7.2,2904,95.0,2009-07-17,"[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...",False,False,False,...,False,False,False,False,False,False,False,False,True,33

In [112]:
df.drop('cast_x', axis=1, inplace=True)

In [ ]:
data=df.copy()

In [128]:
df = pd.DataFrame(data)

In [130]:
df['release_date_x'] = pd.to_datetime(df['release_date_x'])
df['Day of Week'] = df['release_date_x'].dt.day_name()
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days_of_week:
    df[day] = (df['Day of Week'] == day).astype(int)
df.drop(columns=['release_date_x', 'Day of Week'], inplace=True)

In [146]:
pd.set_option('display.max_columns', None)

In [149]:
df.drop('genres_x',inplace=True)

KeyError: "['genres_x'] not found in axis"

In [133]:
final_data=df.copy()

In [134]:
from sklearn.linear_model import LinearRegression

In [135]:
y=final_data['revenue_x'].values

In [136]:
final_data_x=final_data.drop('revenue_x',axis=1)

In [137]:
final_data_x.head(1)

,budget_x,vote_average_x,vote_count_x,runtime_x,Action,Adventure,Animation,Comedy,Crime,Documentary,...,United Kingdom,United States of America,star_power,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
title_x,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,7500000,7.2,2904,95.0,False,False,False,True,False,False,...,False,True,33,0,0,0,0,1,0,0

In [138]:
x=final_data_x.values

In [139]:
x

array([[7500000, 7.2, 2904, ..., 1, 0, 0],
       [15000000, 6.8, 2468, ..., 0, 0, 0],
       [16000000, 7.3, 1701, ..., 0, 0, 0],
       ...,
       [70000000, 5.8, 1424, ..., 1, 0, 0],
       [60000000, 4.7, 549, ..., 0, 0, 0],
       [62000000, 5.4, 703, ..., 0, 0, 0]], dtype=object)

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
X_train , X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [142]:
X_train.shape

(2648, 168)

In [144]:
linear_model = LinearRegression()
linear_model.fit(X_train,y_train)

ValueError: could not convert string to float: '[{"id": 18, "name": "Drama"}, {"id": 53, "name": "Thriller"}]'